/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}

/* STYLING */
body {
  background-color: gray;
}

h1 {
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed red;
}

.add-book-container {
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed red;
}

.book-form-container {
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed red;
}

/* FOOTER */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 1rem;
  background-color: #434242;
  color: #d8d8d8;
}

.fa-github {
  font-size: 24px;
  color: #d8d8d8;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: scale(1.1);
}